  
.err_msg {
    padding: 15px;
    color: #ea6153;
  }

  .address{
    p{
      color:var(--ion-color-primary);
    }
  }  
  

  .area{
    border-radius: 10px;
    margin: 0px 10px;
    margin-bottom: 10px;
   
  }