ion-thumbnail {
    width: 65px;
    height: 65px;
    
  }


  .whenEmpty{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
        color: #6CB4EE;
    }
    img{
      width: 35%;
    }
  }
  .outofstock{
    padding-left: 20px;
    padding-right: 20px;
    h3{
      font-size: 16px;
      padding-left: 10px;
      color:#eb445a;
    }
  }