

<ion-content class="ion-text-center">

    <ion-row>
      <ion-col size="12" class="ion-text-center" >
        <h3>Sorry we are unable to process with your required quantity, please contact via Whatsapp or Email.</h3>
    
          <div class="ion-text-center" (click)="whatsapp()">
            <p>Whatsapp<img src = "../../../assets/imgs/icons/whatsapp.svg" class="whatsapp"></p>
          </div>
          <div class="ion-text-center" (click)="mail()">
            <p>Email<span><img src = "../../../assets/imgs/icons/gmail.svg" class="mail"></span></p>
          </div>
          <div class="ion-text-center" (click)="cancel()">
            <p><strong>Cancel</strong></p>
            
          </div>
 
      </ion-col>
    </ion-row>
 
 
    <!-- <img src = "../../../assets/imgs/icons/gmail.svg"> -->

</ion-content>
