

<ion-content class="ion-text-center">

  <ion-row>
    <ion-col size="12" class="ion-text-center" >
      <h3>Shipping/Courier charges will be extra (You can contact us for Corporate Courier rates/Logistic 
        assistance). For the enquiry please contact via whatsapp or email.</h3>
  
        <div class="btns">

        
        <div class="ion-text-center app btn" (click)="whatsapp()">
          <p>Whatsapp<img src = "../../../assets/imgs/icons/whatsapp.svg" class="whatsapp"></p>
        </div>
        <div class="ion-text-center btn" (click)="mail()">
          <p>Email<span><img src = "../../../assets/imgs/icons/gmail.svg" class="mail"></span></p>
        </div>
        <div class="ion-text-center btn" (click)="cancel()">
          <p><strong>Cancel</strong></p>
          
        </div>
      </div>

    </ion-col>
  </ion-row>


  <!-- <img src = "../../../assets/imgs/icons/gmail.svg"> -->

</ion-content>
