h3{
    font-size: 0.9rem;
}

img{
    width: 25px;
    height: 25px;
    
}
p{
    color:var(--ion-color-primary);
    font-weight: 400;
    margin-top: 7px;
    margin-bottom: 7px;
}

.btns{
    margin-top: 34px;
}

.whatsapp{
    margin-left: 6px;
    margin-bottom: -5px;
}

.mail{
    margin-left: 10px;
    margin-bottom: -5px; 
}

.btn{
    border-bottom: 1px solid #3333;
}

.app{
    p{
        margin-top: 5px;
    }
    border-top  : 1px solid #3333;
}