<desktop-header></desktop-header>
<ion-header class="ion-no-border ion-hide-md-up">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card1">
          <h3 class="balance">Your Balance</h3>
          <div class="ion-padding flag">
            <img src="../../../assets/imgs/united-arab-emirates.png" alt="" />
            <h3>AED</h3>
          </div>

          <div class="ion-text-center text">
            <h1>{{ walletDetails?.wallet_balance }}</h1>
          </div>
          <div class="ion-text-center btn">
            <ion-button
              (click)="walletDetails?.wallet_status ? router.navigate(['recharge']) :''"
              fill="outline"
              shape="round"
              color="dark"
              [disabled]="!walletDetails?.wallet_status"
            >
              <ion-icon slot="start" name="add"></ion-icon>
              Add Money
            </ion-button>
            <ion-text
              color="primary"
              [ngStyle]="{'display': walletDetails?.wallet_status ? 'none':''}"
            >
              <p> Adding money to wallet Currently Unavailable</p>
            </ion-text>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <div
          class="ion-text-center"
          [ngStyle]="{'display': transaction_details ? '':'none'}"
        >
          <h3 class="transactions">Recent Transactions:</h3>
        </div>
        <ion-list>
          <ion-item *ngFor="let item of transaction_details">
            <div class="content">
              <div>
                <h3>{{item.option}}</h3>

                <h6>{{item.created_at | date}}</h6>
              </div>
              <div
                [ngClass]="{'amountRecieved': item.option === 'credited', 'amountPaid': item.option === 'debited' }"
              >
                <h3>
                  <ion-icon
                    name="add-outline"
                    *ngIf="item.option === 'credited'"
                  ></ion-icon>
                  <ion-icon
                    name="remove-outline"
                    *ngIf="item.option === 'debited'"
                  ></ion-icon>
                  {{item.amount}}
                </h3>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
