<desktop-header></desktop-header>
<ion-header class="ion-hide-md-up">
  <ion-toolbar color="secondary" class="ion-hide-md-up">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Offers</ion-title>

    <ion-buttons slot="end">
      <ion-button class="ion-hide-md-up" (click)="router.navigate(['/tabs/cart'])">
        <ion-icon src="../assets/imgs/icons/cart.svg"></ion-icon>
        <ion-badge id="cart-badge" color="primary" *ngIf="cart_count > 0"
          >{{cart_count}}</ion-badge
        >
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullingText="Pull to refresh"
      refreshingSpinner="crescent"
      refreshingText="Refreshing..."
    ></ion-refresher-content>
  </ion-refresher>
  <ion-row >
    <ion-col size="12" size-sm="12" size-md="12" size-xl="12" size-lg="12">
      <ion-grid>
        <ion-row class="row">
          <ion-col
            size="6"
            size-sm="4"
            size-md="4"
            size-lg="3"
            size-xl="2"
            *ngFor="let item of products; let i=index"
            class="prod"
            [ngClass]="{outofstock: !item.in_stock}"
          >
            <div class="select" (click)="navigateToProduct(i)">
              <div
                style="position: relative; overflow: hidden"
                class="img_wrapper ion-text-center"
              >
                <!-- <div class="ion-text-center stock" *ngIf="item.in_stock == 0">
                  <h3>OUT OF STOCK</h3>
                </div> -->
                <img [src]="s3url + item?.images[0]?.path"  onError="this.src = '../../assets/imgs/noImage.png'" />
              </div>
              <ion-list class="ion-text-center details">
                <h3>{{item.name}}</h3>

                <ion-item lines="none">
                  <ion-label class="text">
                    <ion-text
                      class="ion-text-center"
                      color="primary"
                      [ngStyle]="{'display': item?.offer_price?'':'none'}"
                    >
                      <h6><b> {{ item.offer_price | currency:'AED ' }}</b></h6>
                    </ion-text>
                    <ion-text
                      class="ion-text-center"
                      color="dark"
                      [ngStyle]="{'text-decoration': item?.offer_price ? 'line-through':'none'}"
                    >
                      <p style="font-size: 12px">
                        {{ item.price | currency:'AED ' }}
                      </p>
                    </ion-text>
                  </ion-label>
                </ion-item>
              </ion-list>
            </div>
            <ion-button (click)="buyNow(i)" expand="full" color="primary" shape="round" class="tocart" >
              Buy Now
            </ion-button>
            <ion-button fill="clear" (click)="addToWishlist(i)" class="wish">  
              <ion-icon slot="icon-only" [name]="item.wishlist==true? 'heart' : 'heart-outline'" ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-col>
  </ion-row>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="ion-hide-md-down"
  >
    <ion-fab-button color="secondary" (click)="openSort($event)">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- <ion-infinite-scroll class="ion-hide-md-up" threshold="100px" (ionInfinite)="loadMoreContent($event)" >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
<!-- <ion-row>
  <ion-col size="12" class="ion-text-center">
    <ion-button class="ion-hide-md-up"  (click)="loadMoreContent()"  fill="outline" mode="md" size="small">
      Load More Products
    </ion-button>
  </ion-col>
</ion-row> -->
  
  
    <jw-pagination class="pages" [items]="collection" [pageSize]="1" (changePage)="onChangePage($event)"></jw-pagination>

</ion-content>

<ion-footer class="ion-hide-md-up">
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-around">
      <ion-button
        expand="block"
        fill="clear"
        shape="round"
        (click)="openSortMobile()"
      >
        <ion-icon slot="start" name="funnel-outline"></ion-icon>
        SORT
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
