<ion-content class="ion-padding">
  <div>
    <ion-card class="icon">
      <img src="../../../assets/icons/icon-512x512.png" alt="" />
    </ion-card>
  </div>
  <div>
    <ion-card style="box-shadow: none;background:transparent;--background:transparent;margin: 0;">
      <ion-card-header>
        <ion-card-title
          class="ion-no-padding ion-text-center"
          style="font-size: 15px; color: #262626"
          >Add Deal on Store to your Home Screen?</ion-card-title
        >
      </ion-card-header>
      <ion-card-content class="ion-no-padding ion-text-center">
        Access Deal on Store web app easily by adding it to your home screen.
      </ion-card-content>
     
      <ion-button (click)="onInstall()" expand="block" fill="clear" shape="round">
        Add to Home screen
      </ion-button>

      <ion-button (click)="onCancel()" expand="block" fill="clear" color="dark" shape="round">
        Cancel
      </ion-button>
    </ion-card>
  </div>
</ion-content>