<ion-content class="ion-padding">
  <ion-list>
    <ion-item lines="none">
      <!-- <ion-label style="font-size: 2vw">Apply Coupon</ion-label> -->
      <ion-button (click)="dismissModal()" fill="clear" slot="end">
        <ion-icon slot="icon-only" name="close" color="dark"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ng-container
  *ngIf="data?.promo_codes.length == 0; then thenTemplate; else elseTemplate"
></ng-container>
<ng-template #thenTemplate>
  <div class="ion-text-center nocoupon">
    <img src="../../../assets/imgs/nocoupons.svg" alt="" style="width: 38%;">
    <p>No coupons available.</p>

  </div>
</ng-template>
<ng-template #elseTemplate>
  <ion-list *ngIf="data?.promo_codes">
    <ion-list-header>
      <ion-label>Applicable Coupons</ion-label>
    </ion-list-header>
    <div *ngIf="applicableCoupons.length>0">
    <ion-list
    
      class="ion-margin-vertical"
      *ngFor="let item of applicableCoupons; let i=index"
    >
      <ion-item lines="none">
        <ion-label>
          <h2>{{item.name}}</h2>
          <ion-text color="dark">
            <p>
              {{item.description}}
            </p>
          </ion-text>
          <ion-text color="medium">
            <p>Valid on orders above AED {{item.minimum_amount}}.</p>
            <p>Expires on {{item.expiry_date}}.</p>
          </ion-text>
          <ion-text color="danger">
            <p>
              Discount Amount : {{item.discount_amount}}
            </p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <div class="relative">
          <div class="content-container">
            <p class="text">{{item.name}}</p>
            <div class="dots-H"></div>
          </div>
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <ion-button
          slot="end"
          expand="block"
          fill="outline"
          (click)="apply(i)"
        >
          APPLY
        </ion-button>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="applicableCoupons.length == 0" class="ion-text-center">
    <p>No applicable coupons for this order.</p>

  </div>
  </ion-list>

  <ion-list *ngIf="coupons.length>0">
    <ion-list-header>
      <ion-label>Available Coupons</ion-label>
    </ion-list-header>
    <div>
    <ion-list
    
      class="ion-margin-vertical"
      *ngFor="let item of coupons; let i=index"
    >
      <ion-item lines="none">
        <ion-label>
          <h2>{{item.name}}</h2>
          <ion-text color="dark">
            <p>
              {{item.description}}
            </p>
          </ion-text>
          <ion-text color="danger">
            <p>
              Discount Amount : {{item.discount_amount}}
            </p>
          </ion-text>
          <ion-text color="medium">
            <p>Valid on orders above AED {{item.minimum_amount}}.</p>
            <p>Expires on {{item.expiry_date}}.</p>
          </ion-text>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <div class="relative">
          <div class="content-container">
            <p class="text">{{item.name}}</p>
            <div class="dots-H"></div>
          </div>
          <div class="left"></div>
          <div class="right"></div>
        </div>
        <!-- <ion-button
          slot="end"
          expand="block"
          fill="outline"
          (click)="apply(i)"
        >
          APPLY
        </ion-button> -->
      </ion-item>
    </ion-list>
  </div>
  
  
  </ion-list>

</ng-template>
  
  
 



  
</ion-content>
