<!-- 
<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button text="" defaultHref="cart"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-center">
        <h1>Payment Options</h1>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="ion-text-right">
    <ion-button (click)="close()"  fill="clear" shape="round" >
      <ion-icon name="close-outline"></ion-icon>
    </ion-button>
  </div>
  
  
  
  <div class="content">
  <div class="ion-text-center image">
    <img src="../../../assets/imgs/payment-method.svg" alt="">
  </div>
  <div class="wrapper">
      <h2>Please select a mode of payment.</h2>

      <ion-list>
  
        <div class="ion-activatable ripple-parent ripples" *ngFor="let item of paymentOptions?.payment_options; let i=index">
          
        <ion-item detail class="item" lines="none" (click)="selectPaymentMethod(i)">
          
          <ion-icon name="{{ item.icon }}" size="large" class="icon"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label> {{ item.name }}</ion-label>
          <p *ngIf="item.id == 7" style="padding-right: 10px;"> {{  paymentOptions?.wallet_balance | currency:'AED  ' }}</p>
          <!-- <ion-label ></ion-label> -->
          
        </ion-item>
        </div>
        <!-- </div>
        <div class="ion-activatable ripple-parent">
        <ion-item detail class="item" lines="none" (click)="onClick()">
          <ion-icon name="card-outline" size="large"  class="icon"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label>Card/ UPI on delivery</ion-label>
        </ion-item>
      </div>
      <div class="ion-activatable ripple-parent">
        <ion-item detail class="item" lines="none" (click)="onClick()">
          <ion-icon name="globe-outline" size="large" class="icon"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
          <ion-label> Online payment</ion-label>
        </ion-item> -->
      
      </ion-list>
    
  </div>
</div>



</ion-content>

