
<ion-content>
  <!-- <ion-button (click)="replace()" expand="block" fill="clear" shape="round">
    replace
  </ion-button> -->
<div class="ion-text-center wrapper">
  <h2>Order placed Successfully</h2>
  <lottie-player class="player" autoplay  src="../../../assets/imgs/orderplaced.json"  style="width: 300px; height: 300px">
  </lottie-player>
  <div class='button'>
    <ion-button class="btn" (click)="continue()" expand="full" fill="solid" shape="round" color="primary"  >
      CONTINUE
    </ion-button>
  </div>
  
</div>
</ion-content>