<desktop-header></desktop-header>

<ion-header class="ion-hide-md-up">
  <ion-toolbar color="secondary">
    <ion-title>Orders</ion-title>
    <ion-buttons slot="start"> 
      <ion-back-button defaultHref="/tabs/profile"  color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <div class="ion-text-center whenEmpty" *ngIf="data?.orders.length == 0 " alt="">
    <img src="../../../assets/imgs/icons/orders.png">
    <p>No orders yet.</p>
    <ion-button (click)="continueShopping()" fill="outline" shape="round">
      <ion-icon slot="start" name="add"></ion-icon>
      Continue Shopping
    </ion-button>
  </div>



<div class="wrapper">
<ion-item *ngFor="let item of data?.orders; let i=index">
  <ion-thumbnail slot="start">
    <img src="../../../assets/imgs/delivery-box.svg">
  </ion-thumbnail>
  <ion-label>
    <h3>{{ item.unique_id }}  </h3>
    <p>{{ item.status }}</p>
    <p>{{ item.order_date }}</p>
    <p>{{ item.payable_amount | currency:'AED '}}.</p>
  </ion-label>
  
    <ion-button (click)="details(i)" expand="block" fill="outline" shape="round" class="btn">
      DETAILS
    </ion-button>
 

</ion-item>
</div>

</ion-content>


<!-- <div class="wrapper">
  <ion-row size="12" *ngFor="let item of wishlist; let i=index" class="sec">
    <ion-col size="3">
      <img src="{{ item.src }}" alt="">
    </ion-col>
    <ion-col size="8">
      <h3>{{ item.brand }}</h3>
      <p>{{ item.categories }}</p>
      <h4>{{ item.price }}</h4>
    </ion-col>
    <ion-col size="1">
        <ion-icon name="close-outline" (click)="remove(i)"></ion-icon>
    </ion-col>
    <ion-row size="12" class="ion-align-items-center btm_row" (click)="moveToBag(i)">
        <P class="ion-text-center">MOVE TO BAG</P>
    </ion-row>
  </ion-row>
</div> -->
