#cart-badge {
  position: absolute;
  top: 0px;
  right: -5px;
  padding: 3px;
  font-size: 10px;
}
ion-badge {
  transition: all 2s;
}
ion-searchbar {
  padding: 0 !important;
}
ion-title{
    font-family: 'Lemonada', cursive !important;
    // font-family: 'Poiret One', cursive !important;
  }

.search{
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
.spinner{
  display: flex;
  justify-content: center;
}

.highlight {
  // background-color: #FFFF33 !important;
  zoom: 1.2;
  h3{
    font-weight: 600;
    color: var(--ion-color-primary);;
  }
}
