<desktop-header></desktop-header>

<ion-header class="ion-hide-md-up">
  <ion-toolbar color="secondary">
    <ion-title>Order Details</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="orders"  color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="refresh" pullingText="Pull to refresh" refreshingSpinner="crescent"
      refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>



<div class="wrapper">
  <div>
    <div class="ion-text-center boxImg">
      <img src="../../../assets/imgs/box.svg">
    </div>
    <div class="ion-text-center">
        <p>Order Id : {{data?.order.unique_id}}</p>
        <p>Payment Type : {{data?.order.name}}</p>
        <p>Order Date : {{data?.order.order_date}}</p>
        <p>Total Amount Paid : {{data?.order.payable_amount | currency:'AED '}}</p>
        <div *ngIf="data?.order.delivery_id">
          <p>Delivery Id: {{data?.order.delivery_id}}</p>
          <ion-button (click)="track()" color="primary" fill="outline" size="small">
            Track Order
          </ion-button>
        </div>

    </div>
    
  </div>
 
<!-- 
<ion-card *ngFor="let item of data?.order_products; let i=index">
  <ion-thumbnail >
    <img src="../../../assets/imgs/part.jpg">
  </ion-thumbnail>
  <ion-label>
    <h3>{{ item.product_name }}  </h3>
    <p>{{ item.order_date }}</p>
    <h3 class="price">{{ item.product_name }} </h3>
     <p>Rs. {{ item.payable_amount }}.</p>
  </ion-label>
</ion-card> -->


<ion-card class="card" *ngFor="let item of data?.order_products; let i=index" (click)="navigateToProduct(i)">
  <ion-col size="3">
    <img [src]="s3url + item.path">
   </ion-col>
   <ion-col size="6" class="name">
     <h5>{{ item.product_name }} </h5>
     <h6>{{ item.product_offer_price | currency:'AED ' }}</h6>
      <h6 *ngIf="item.product_offer_price == null">{{ item.product_price | currency:'AED  ' }}</h6>
      
   </ion-col>
   <ion-col size="6">
    <h5>Count: {{ item.count }} </h5>
   </ion-col>
   <!-- <ion-col size="2"  class="ion-text-center settings" >
    
    <ion-icon name="chevron-forward-outline"></ion-icon>
   </ion-col> -->
 </ion-card>

</div>

</ion-content>
<ion-footer >
  
  <ion-toolbar color="primary">
    <ion-button *ngIf="cancelStatus"
      class="btn"
      color="light"
      id="btn"
      expand="block"
      fill="clear"
      shape="round"
      (click)="cancelOrder()"
    >
      CANCEL ORDER
    </ion-button>
    <ion-button *ngIf="returnStatus"
    class="btn"
    color="light"
    id="btn"
    expand="block"
    fill="clear"
    shape="round"
    (click)="returnOrder()"
  >
    RETURN ORDER
  </ion-button>
  </ion-toolbar>
</ion-footer>