<desktop-header></desktop-header>
<ion-header class="ion-no-border ion-hide-md-up">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios" class="card main">
    <div style="width: 100%" class="ion-text-center">
      <ion-label>
        <h3>
          OTP for validation has been sent. If OTP not received by sms within 30 seconds, kindly check your email.
        </h3>
      </ion-label>
      <ion-item class="ion-text-center" lines="none">
        <ion-input
          placeholder="-  -  -  -"
          autocapitalize="off"
          autocomplete="off"
          autocorrect="off"
          minlength="4"
          maxlength="4"
          name="otp"
          type="tel"
          [(ngModel)]="inputOtp"
          class="otp"
        ></ion-input>
      </ion-item>
      <p (click)="resendOtp()">Resend OTP</p>
      <ion-button
        (click)="continue()"
        class="ion-margin-vertical"
        expand="block"
        color="primary"
      >
        Continue
      </ion-button>
      <ion-button
        (click)="cancel()"
        class="ion-margin-vertical"
        expand="block"
        fill="outline"
        color="medium"
      >
        Cancel
      </ion-button>
    </div>
  </ion-card>
</ion-content>

<!-- <ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-hide-lg-down" size-sm="12" size-md="12"  size-lg="6" size-xl="12"></ion-col> -->
<!-- <ion-col
        class="ion-padding"
        size-sm="12"
        size-md="12"
        offset-lg="6"
        size-lg="4"
        size-xl="4"
        style="border: 1px solid rgba(var(--b6a, 219, 219, 219), 1)"
      >
     
      <form [formGroup]="loginGroup" (ngSubmit)="login(loginGroup.value)">
        <ion-list>
          <ion-list-header>
            <ion-label class="ion-text-center">
              <ion-text color="dark">Deal </ion-text>
              <ion-text color="success">On Store </ion-text></ion-label
            >
          </ion-list-header>
          <ion-item color="light" class="ion-text-center input" lines="none">
            <ion-input  required placeholder="Name" formControlName="name"></ion-input>
          </ion-item>
          <ion-item color="light" class="ion-text-center input" lines="none">
            <ion-input required placeholder="Phone number" formControlName="phone"></ion-input>
          </ion-item>
          <ion-item color="light" class="ion-text-center input" lines="none">
            <ion-input placeholder="Email" formControlName="email"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button color="dark" type="submit" [disabled]="!loginGroup.valid"  expand="block"
          >Login</ion-button
        >
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
