<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="light">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-chip slot="end" outline color="primary" (click)="addAddress()">
      <ion-label>Add Address</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-chip>
  </ion-toolbar>

    <ng-container
      *ngIf="addresses?.length > 0; then thenTemplate; else elseTemplate"
    ></ng-container>

    <ng-template #thenTemplate>
      <ion-list>
        <!-- <div *ngFor="let item of addresses; let i=index">
        <ion-item lines="none">
          <ion-label (click)="onChangeAddress(i)">
            <ion-text color="primary">
              <h3>{{item.name}}</h3>
            </ion-text>
            <p>{{item.full_address}}</p>
            <p>{{item.landmark}}</p>
          </ion-label>
          <ion-radio slot="start" value="{{i}}"></ion-radio>
          <ion-buttons slot="end">
            <ion-button (click)="options(i)" color="secondary">
              <ion-icon name="ellipsis-horizontal-sharp"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <ion-item lines="none">
          <p *ngIf="!valid_del_loc_id.includes(item?.delivery_location_id)">Address not servicable</p>
        </ion-item>
        
      </div> -->
      <ion-radio-group mode="md" (ionChange)="onChangeAddress($event)">
        <ion-item
          *ngFor="let item of addresses; let i=index"
          lines="none"
          [disabled]="!valid_del_loc_id.includes(item?.delivery_location_id)"
        >
        
          <ion-label>
            <ion-text color="primary">
              <h3>{{item.name}}</h3>
            </ion-text>
            <p>{{item.full_address}}</p>
            <p>{{item.landmark}}</p>
          </ion-label>
          <ion-radio slot="start" value="{{i}}"></ion-radio>
          <ion-button
            slot="end"
            fill="clear"
            color="danger"
            shape="round"
            [ngStyle]="{'display': valid_del_loc_id.includes(item?.delivery_location_id) ? 'none':''}"
          >
            Not deliverable
          </ion-button>
       
          <ion-buttons slot="end">
            <ion-button (click)="options(i)" color="secondary">
              <ion-icon name="ellipsis-horizontal-sharp"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-radio-group>
    </ion-list>
     
    </ng-template>

    <ng-template #elseTemplate>
      <ion-item lines="none" class="ion-text-center ion-margin">
        <ion-label>No Addresses Added</ion-label>
      </ion-item>
    </ng-template>
  
</ion-content>
