<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744606326185-6pptnjlpt4cp9bvo7r8fu9g4g4sas43t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744606326185-6pptnjlpt4cp9bvo7r8fu9g4g4sas43t</string>
	<key>API_KEY</key>
	<string>AIzaSyDxYvMbnyqsx18xVPg3hih2JXHR2w0JzTI</string>
	<key>GCM_SENDER_ID</key>
	<string>744606326185</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mermerapps.dealonstore</string>
	<key>PROJECT_ID</key>
	<string>dealonstore</string>
	<key>STORAGE_BUCKET</key>
	<string>dealonstore.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744606326185:ios:74637852d9c822c459f8b8</string>
</dict>
</plist>