ion-thumbnail {
    width: 75px;
    height: 75px;
    --border-radius: 10px;
  }
  .cart-btns {
    border: 1px solid;
    border-radius: 10px;
  }
  .login-card {
    box-shadow: none;
    border: 1px solid;
  }
  
  ion-item {
    cursor: pointer;
  }
  .total {
    --background: rgb(254, 252, 249);
  }
  .products{
    ion-label{
      margin-left: 12px;
    }
  }
  
  .active{
    display: block;
  }
  
  .inactive{
    display: none;
  }
  
  .payment{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
  .whenEmpty{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p{
        color: #6CB4EE;
    }
  }
  
  .outofstock{
    padding-left: 20px;
    padding-right: 20px;
    h3{
      font-size: 16px;
      padding-left: 10px;
      color:#eb445a;
    }
  }