<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>Available Locations.</ion-title>
    <ion-button slot="end" fill="clear" (click)="dismissModal()" size="small">
      <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container
  *ngIf="deliveryLocations?.length > 0; then thenTemplate ; else elseTemplate"
></ng-container>
<ng-template #thenTemplate>
  <ion-list>
    <ion-radio-group mode="md" (ionChange)="onChangeLoc($event)" >
      <ion-item class="ion-no-padding" lines="none" *ngFor="let item of deliveryLocations ; let i =index" class="ion-margin">
        <ion-label class="ion-padding-horizontal">{{item.location}}</ion-label>
        <ion-radio slot="start"  value="{{i}}"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ng-template>
<ng-template #elseTemplate>
  <div >
    <div class="ion-text-center ion-padding-vertical">
      <p>Currently no locations are available.</p>

    </div>
  </div>

</ng-template>
  
</ion-content>

<ion-footer *ngIf="deliveryLocations?.length > 0">
  <ion-toolbar color="secondary">
    <ion-button
      [disabled]="!selectedAddress"
      color="light"
      id="btn"
      expand="block"
      fill="clear"
      shape="round"
      (click)="onSubmit()"
    >
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
